*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// colors 
$primary-color : #28E98C;
$text-color : #FFFFFF;
$theme-color : #161616;
$light-grey : #656565;
$menubtn_background : #1f1f1f;
body {
    background-color: $theme-color;
}