*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// colors 
$primary-color : #28E98C;
$text-color : #FFFFFF;
$theme-color : #161616;
$light-grey : #565656;
$icons-color : rgba(255, 253, 253, 0.331);
$menubtn_background : #1f1f1f;

body {
    background-color: $theme-color;
    color: #999999;
    scroll-behavior: smooth;
    line-height: 1.7;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}