.hero-section {
    padding: 28px 0;
    position: relative;
    overflow: hidden;

    .custom-container {
        max-width: 1130px;
        padding: 0 15px;
        margin: auto;

        .hero-section .hero-content {
            position: relative;
            z-index: 3;
        }
        .content-width {
            max-width: 770px;
            width: 100%;
            margin-left: auto;
        }
    }
}

.section-header{
    
        .subtitle {
            font-size: 12px;
            color: $text-color;
            text-transform: uppercase;
            font-weight: 300;
            margin: 0;
            border: 1px solid #565656;
            padding: 9px 20px;
            border-radius: 30px;
            margin-bottom: 53px;
            display: inline-flex;
            align-items: center;
            opacity: 1;
            transform: translate(0px,0px);
            letter-spacing: 1px;

            i{
                margin-bottom: 1px;
                font-size: 17px;
                margin-right: 10px;
            }
        }
    
}

.section-header {
    h1{
        font-size: 60px;
        letter-spacing: 0.2px;
        line-height: 90px;
        margin-bottom: 20px;
        font-weight: 300;
        color: $text-color;

        span{
            color: $primary-color;
        }
    }

    h2{
        font-size: 40px;
        letter-spacing: 0.2px;
        line-height: 50px;
        margin-bottom: 3px;
        font-weight: 300;
        color: $text-color;
    }

    .type-writter-effect{
        font-size: 40px;
        letter-spacing: 0.2px;
        line-height: 50px;
        font-weight: 400;
        color: $primary-color;
    }
}

.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }

  .hero-content {
    p{
     
            max-width: 665px;
            margin-bottom: 31px;
            opacity: 1;
            transform: translate(0px, 0px);
            color: #999999;
            font-size: 20px;
        
    }
  }