.hero-section .go-to-project-btn {
    width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $primary-color;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
    text-decoration: none;
    opacity: 1;
    transform: translate(0px, 0px);

    img {
        display: block;
        animation: rotating 6s infinite linear;
        max-width: 100%;
      }
      
      @keyframes rotating {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

    i{
        position: absolute;
        color: #fff;
        font-size: 40px;
        display: block;
    }
}
